
	body{
		background-color: #048c3b;
	}

	div.judul{
		color: white;
		margin-bottom: 30px;
		font-family: Verdana;
	}

	div.judul h1{
		text-align: center;
	}

	div.judul h3{
		position: relative;
		right: 90px;
	}

    input{
        width: 80px;
		height: 52px;
        border-radius: 6px;
        font-size: 25px;
        text-align: center;
		
		font-size: 30px;
		border: 1px solid gray;
    }

    .baris{
        text-align: center;
    }

    .baris1 input{
        background-color: bisque;
    }

    .baris2 input{
        background-color: bisque;
    }

    .baris3 input{
        background-color: bisque;
    }

    .baris4 input:nth-child(1),
    .baris4 input:nth-child(2),
    .baris4 input:nth-child(3),
    .baris4 input:nth-child(7),
    .baris4 input:nth-child(8),
    .baris4 input:nth-child(9){
        background-color: bisque;
    }

    .baris5 input:nth-child(1),
    .baris5 input:nth-child(2),
    .baris5 input:nth-child(3),
    .baris5 input:nth-child(7),
    .baris5 input:nth-child(8),
    .baris5 input:nth-child(9){
        background-color: bisque;
    }

    .baris6 input:nth-child(1),
    .baris6 input:nth-child(2),
    .baris6 input:nth-child(3),
    .baris6 input:nth-child(7),
    .baris6 input:nth-child(8),
    .baris6 input:nth-child(9){
        background-color: bisque;
    }

    .baris7 input{
        background-color: bisque;
    }

    .baris8 input{
        background-color: bisque;
    }

    .baris9 input{
        background-color: bisque;
    }

a{
	text-decoration: none;
	color: azure;
}

.btn{
	background-color: #12161a;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: #FFF;
    cursor: pointer;
}

